#tools-div {
    position: absolute;
    bottom: 30px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    
    display: flex;
    justify-content: center;

    /* to make the toolsDiv on the bottom center*/
    /* requires the parent div to be FLEX */
    /* margin: space outside the box.  Gives as much space available on the top to margin */

    padding: 10px; /* padding: space inside the box */  
    margin-bottom: 8px;
    cursor: pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.toolbox-item {
    /* margin: 10px; */
    padding: 10px
}

#main-div {
    display: flex;
    height: 95vh;
    /* border-style: solid; */
    /* background-color: rgb(226, 222, 222); */

    justify-content: center;
    align-items: center;
}

.whiteboard-element {
    border-style: solid;
    height: 100px;
    width: 100px;

}

#selection-box {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(116, 180, 240);
    background-color: rgba(188, 223, 255, 0.267);
    position: absolute;
}

.selected {
    border-color: rgb(116, 180, 240);
    background-color: rgba(188, 223, 255, 0.267);
}

#whiteboard-canvas {
    /* height: 500px; height and width messes up the canvas position calculation for some reason even with canvas.height and canvas.width
    width: 1000px;  */ 
    background-color: rgba(255, 255, 255, 0.479);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(105, 159, 241);
}

#whiteboard-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    padding: 20px;
}